/* Classes for Floats Practice */
/* .box {
    height: 100px;
    width: 200px;
}

.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.purple {
    background-color: purple;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.clear-both {
    clear: both;
} */

/* Global Styles */
body {
    margin: 0;
}
li {
    color: #fff;
    float: left;
    padding: 14px 16px;
}
/* Nav Styles */
.main-nav {
    height: 75px;
    background-color:#333;
}
.logo {
    height: 56px;
    padding: 10px;
}
.nav-list {
    float: right;
    list-style-type: none;
}
.center {
    text-align: center;
}